h1
{
  font-family: "palatino linotype";
  font-weight: bold;
  color: black;
  font-size: 30pt;
  margin: auto;
  text-align: center;
}

h2
{
  font-family: "palatino linotype";
  color: black;
  font-size: 15pt;
  margin: auto;
  text-align: center;
}

h2.school
{
  font-family: "palatino linotype";
  color: black;
  font-size: 15pt;
  top: 14%
}

h2.major
{
  font-family: "palatino linotype";
  color: black;
  font-size: 15pt;
  top: 18%
}

h2.email
{
  font-family: "palatino linotype";
  color: black;
  font-size: 15pt;
  top: 22%;
}

h3
{
  font-family: "palatino linotype";
  color: black;
  font-size: 15pt;
  position: absolute;
  top:300px;
  left: 10px;
  text-decoration: underline;
}

img.profile
{
  max-width: 12%;
  height: auto;
  border-radius: 15%;
  display: block;
  position: fixed;
  border: solid black;
}

ul
{
  list-style-type: square;
  position: absolute;
  top: 340px;
  font-family: "palatino linotype";
}

a
{
    color: blue;
    text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}
